header{
    background-color: black;
    display: flex;
    justify-content: left;
}

#logo{
    color: wheat;
    font-family: 'Fjalla One', sans-serif;
    background-image: url("img/fitnes1.jpg");
    width: 700px;
    height: 300px;
    background-size: cover;
    text-align: right;
}

#lang{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 100px;
}

#lang img{
    width: 40px;
    height: 25px;
}

#logo h1{
    margin: 0;
    padding: 20px 150px 0 0;
    font-size: 50px;
}

#logo p{
    padding-right: 161px;
    margin: 0;
    font-size: 18px;
}

#header-logo {
    width: 600px;
    height: auto;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.menu ul li {
    margin: 20px 10px;
}

.menu ul a {
    text-transform: uppercase;
    text-decoration: wheat;
    font-weight: bold;
    color: wheat;
}

.login {
    width: 145px;
    height: 20px;
    margin-top: 5px;
    border-radius: 10px;
    padding-left: 5px;
}

#login_submit{
    width: 153px;
    height: 25px;
    margin-top: 5px;
}

#login_pole{
    margin-right: 10px;
    max-width: 150px;
}

#about_us{
    display: flex;
    padding: 100px;
    justify-content: space-around;
    background-color: black;
    color: wheat;

}
#about_us img{
    width: 600px;
    height: 400px;
}

#about_us_text{
    color: wheat;
    font-family: 'Montserrat', sans-serif;
   padding-left: 40px;
    font-size: 22px;
}

body{
    background-color: black;
}

#direction h1{
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

#direction{
    background-color: white;
    text-align: center;
}

.group{
    display: flex;
    justify-content: space-around;
font-size: 22px;
}

.course{
    margin: 0 0 50px 0;
    border: solid 1px black;
    width: 35%;
}

.course img{
    width: 100%;
    
}

#price {
    text-align: center;
    color: wheat;
    font-family: 'Montserrat', sans-serif;
}

#price_info{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 15px;
}

.container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    background-color: white;
}

.container p {
    font-size: 22px;

}
.review {
    width: 30%;
}

.comments {
    display: flex;
    justify-content: space-around;
}


.review img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 45px;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: wheat;
    padding: 40px;
}

.footer-contacts {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.footer-contacts h5 {
    color: wheat;
}

.footer-map {
    padding-top: 20px;
}

.footer iframe{
    width:480px;
    height:400px;
    border: 0;
}

@media screen  and (min-width: 600px) and (max-width: 1160px) {

    #about_us {
        flex-direction: column;
    }

    #about_us img {
        margin: 0 auto;
    }
}


