body {
    background-image: url("img/background_img.jpg");
    background-repeat: repeat-y;
    background-position: center;
}

.container {
    width: 560px;
    margin: 0 auto;
}

.work_form h1 {
    text-align: center;
}

.work_form {
    border: solid 10px #CCCCCC;
    background: #a3a3a3;
    margin: 130px auto;
    width: 400px;
    height: auto;
    position: relative;
    font-family: 'Century Gothic';
    color: #535353;
}

ul {
    list-style: none;
}

.item input {
    border: solid 1px #CCCCCC;
    background: #dcdcdc;
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    margin-left: -10px;
    padding-left: 5px;
    border-radius: 10px;
}

input {
    width: 150px;
    height: 50px;
    margin-left: 100px;
    border-radius: 10px;
}

#fieldset {
    padding-right: 0;
    alignment: center;
}

.item p {
    margin: 0;
}

#add {
    width: 30px;
    height: 30px;
    background-image: url("img/add (1).png");
    background-size: cover;
    margin-left: 0;
    margin-top: 5px;
    background-color: #a3a3a3;
    border: 0px;
}

#delete {
    width: 30px;
    height: 30px;
    background-image: url("img/add (1).png");
    background-size: cover;
    transform: rotate(45deg);
    margin-left: 0;
    margin-top: 5px;
    background-color: #a3a3a3;
    border: 0px;
}